#closet
	text-align: center
	background: #F9F9F9
	margin-top: 62px
	.cover_closet
		position: relative
		width: 100%
		height: 366px
		color: rgba(255,255,255,0.9)
		overflow: hidden
		h1
			margin-top: 78px
			font-size: 64px
			font-weight: bold
		.line
			width: 488px
			height: 2px
			background: #FFF
			margin: 10px auto 20px
		p
			font-size: 18px
			line-height: 28px
			max-width: 780px
			margin: 0 auto
		.shares
			width: 170px
			margin: 20px auto 10px
			*
				margin: 0 10px 10px
		.follow
			font-size: 18px
			color: rgba(255,255,255,0.9)
			cursor: pointer
			&:hover
				text-decoration: underline
		.breadcrumb
			position: absolute
			left: 40px
			top: 20px
			a
				display: inline-block
				color: #FFF
			span
				vertical-align: top
				display: inline-block
				margin: 2px 6px 0
				width: 10px
				height: 7px
				background: url(../images/breadcrumb_white.svg)

// *** MEDIAS CLOSET

@media all and (max-width: 1079px)
	#closet
		.cover_closet
			height: auto
			padding-bottom: 20px
			.line
				width: 80%
			h1
				font-size: 45px
				padding: 0 20px
			p
				padding: 0 20px
			.breadcrumb
				left: 20px


