#closets {
  text-align: center;
  background: #F9F9F9;
  margin-top: 62px;
  padding-bottom: 80px; }
  #closets .title_closets {
    overflow: hidden;
    width: 100%;
    height: 366px;
    margin-bottom: 40px; }
    #closets .title_closets h1 {
      font-size: 64px;
      font-weight: bold;
      color: #FFF;
      margin-top: 160px; }
  #closets .search_closets {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    text-align: right; }
    #closets .search_closets input {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      border: 1px solid #979797;
      width: 166px;
      height: 20px;
      padding: 10px 40px 10px 10px;
      color: #707070;
      background: url(/images/search_icon.svg) 94% center no-repeat;
      font-size: 16px; }
    #closets .search_closets ul {
      margin-top: 24px; }
      #closets .search_closets ul li {
        font-size: 14px;
        margin-bottom: 16px; }
        #closets .search_closets ul li a {
          color: #000; }
          #closets .search_closets ul li a:hover {
            text-decoration: underline; }
  #closets .result_closets {
    display: inline-block;
    vertical-align: top;
    width: 780px;
    text-align: left;
    margin-left: 40px; }
    #closets .result_closets h3 {
      margin: 10px 0 30px;
      font-size: 18px;
      color: #979797; }
    #closets .result_closets .closet {
      position: relative;
      width: 100%;
      height: 300px;
      background: #FFF;
      margin-bottom: 40px;
      overflow: hidden; }
      #closets .result_closets .closet img {
        float: left;
        margin-right: 30px; }
      #closets .result_closets .closet h2 {
        color: #000;
        font-size: 32px;
        font-weight: bold;
        margin: 30px 0 20px;
        padding-right: 20px; }
      #closets .result_closets .closet p {
        font-size: 16px;
        line-height: 24px;
        padding-right: 20px; }
      #closets .result_closets .closet ul {
        margin: 20px 0; }
        #closets .result_closets .closet ul li {
          font-size: 18px;
          display: inline-block;
          margin-right: 20px;
          font-style: italic; }
          #closets .result_closets .closet ul li a {
            color: #000; }
      #closets .result_closets .closet div {
        position: absolute;
        display: block;
        bottom: 20px;
        right: 20px;
        font-size: 18px;
        color: #000;
        cursor: pointer; }
        #closets .result_closets .closet div:hover {
          text-decoration: underline; }

@media all and (max-width: 767px) {
  #closets .title_closets {
    height: 350px; }
    #closets .title_closets h1 {
      font-size: 45px;
      margin-top: 160px; }
  #closets .search_closets {
    display: none; }
  #closets .result_closets {
    width: 100%;
    margin-left: 0; }
    #closets .result_closets h3 {
      display: none; }
    #closets .result_closets .closet {
      height: auto;
      padding-bottom: 40px; }
      #closets .result_closets .closet img {
        float: none;
        width: 100%; }
      #closets .result_closets .closet h2 {
        padding: 0 20px;
        margin-top: 20px; }
      #closets .result_closets .closet p {
        padding: 0 20px; }
      #closets .result_closets .closet ul {
        margin: 20px; }
        #closets .result_closets .closet ul li {
          margin-bottom: 16px; } }
@media all and (min-width: 768px) and (max-width: 1079px) {
  #closets .search_closets {
    display: none; }
  #closets .result_closets {
    width: 100%;
    margin-left: 0; } }

/*# sourceMappingURL=closets.css.map */
