body {
  background: #F9F9F9; }

#custom_banner {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 102px;
  background: #000;
  text-align: center;
  color: #FFF;
  overflow: hidden; }
  #custom_banner h2 {
    letter-spacing: 1px;
    margin: 36px 0 2px;
    font-size: 24px; }
  #custom_banner p {
    letter-spacing: 1px;
    font-size: 12px; }

#slider_home {
  width: 100%;
  height: 494px; }
  #slider_home .slider_banner {
    width: 100%;
    height: 494px;
    background: #FFF;
    text-align: center; }
    #slider_home .slider_banner img {
      display: inline-block;
      width: 250px;
      height: 100%;
      margin-right: 40px; }
    #slider_home .slider_banner .slider_text {
      display: inline-block;
      vertical-align: top;
      text-align: left; }
      #slider_home .slider_banner .slider_text h2 {
        margin-top: 140px;
        font-size: 64px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: bold; }
        #slider_home .slider_banner .slider_text h2 span {
          font-weight: normal;
          font-style: italic;
          display: block;
          color: #000; }
      #slider_home .slider_banner .slider_text p {
        color: #000;
        max-width: 314px;
        font-size: 18px;
        margin-top: 20px;
        line-height: 26px; }
  #slider_home .slick-arrow {
    position: absolute;
    width: 20px;
    height: 30px;
    top: 232px;
    z-index: 10; }
  #slider_home .slick-prev {
    left: 36px;
    background: url(../images/slider_left.svg); }
  #slider_home .slick-next {
    right: 36px;
    background: url(../images/slider_right.svg); }

#banner_closet {
  display: block;
  width: auto;
  height: 204px;
  margin: 44px;
  background: #EBEBEB;
  text-align: center; }
  #banner_closet .banner_text {
    vertical-align: top;
    display: inline-block;
    margin-top: 80px;
    color: #000; }
    #banner_closet .banner_text h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 8px; }
      #banner_closet .banner_text h2 span {
        font-weight: normal;
        font-style: italic; }
  #banner_closet img {
    display: inline-block;
    margin-left: 40px; }

.section_title {
  font-size: 20px;
  color: #707070;
  margin-bottom: 30px;
  font-family: "NittiBasic-Light", serif; }

#featured {
  width: auto;
  margin: 44px 44px 0;
  text-align: center; }
  #featured .featured {
    display: inline-block;
    color: #FFF;
    width: 300px;
    height: 300px;
    overflow: hidden; }
    #featured .featured h2 {
      font-size: 28px;
      font-weight: bold;
      margin-top: 120px; }
    #featured .featured .line {
      margin: 8px 20px 10px;
      height: 2px;
      background: #FFF; }
    #featured .featured p {
      font-size: 18px;
      max-width: 290px;
      margin: 0 auto;
      line-height: 22px; }
  #featured .featured:nth-child(3) {
    margin: 0 40px; }

#top_search {
  margin: 44px 0;
  overflow: hidden;
  text-align: center; }
  #top_search a {
    display: inline-block;
    color: #000;
    font-style: italic;
    font-size: 26px;
    margin: 0 20px; }

#home_extras {
  display: block;
  width: auto;
  margin: 44px;
  overflow: hidden; }
  #home_extras #sell {
    display: block;
    width: auto;
    height: 204px;
    margin-bottom: 20px;
    background: #FFF;
    text-align: center;
    overflow: hidden;
    color: #000; }
    #home_extras #sell h2 {
      font-size: 32px;
      font-weight: bold;
      margin: 80px 0 10px; }
    #home_extras #sell p {
      font-size: 18px; }
  #home_extras .home_extra {
    float: right;
    color: #000;
    width: 49%;
    height: 204px;
    background: #FFF;
    text-align: right; }
    #home_extras .home_extra img {
      width: 170px;
      float: right; }
    #home_extras .home_extra .text {
      float: right;
      width: auto;
      margin: 0 10px; }
      #home_extras .home_extra .text h2 {
        font-size: 32px;
        font-weight: bold;
        margin-top: 70px; }
      #home_extras .home_extra .text p {
        margin-top: 10px;
        font-size: 18px; }
  #home_extras .home_extra:nth-child(2) {
    float: left; }
    #home_extras .home_extra:nth-child(2) img {
      float: left; }
    #home_extras .home_extra:nth-child(2) .text {
      float: left;
      text-align: left; }
    #home_extras .home_extra:nth-child(2) h2 {
      margin-top: 50px; }

#related {
  width: 100%;
  background: #F9F9F9;
  margin-top: 40px;
  text-align: center; }
  #related .related_content {
    margin: 0 auto; }
  #related .related {
    color: #000;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 320px;
    background: #FFF;
    margin: 0 30px 40px;
    text-align: left; }
    #related .related img {
      display: block;
      width: 50%;
      margin: -20px auto 16px; }
    #related .related h2 {
      font-size: 28px;
      font-style: italic;
      padding: 20px 20px 10px 20px;
      color: rgba(0, 0, 0, 0.9); }
    #related .related p {
      font-size: 28px;
      padding-left: 20px; }
    #related .related h3 {
      padding-right: 20px;
      text-align: right;
      font-size: 22px;
      color: #000; }
      #related .related h3 span {
        color: rgba(0, 0, 0, 0.2);
        text-decoration: line-through;
        margin-right: 10px;
        font-weight: 200; }
  #related .related:hover {
    -webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
    margin-top: -2px; }

@media all and (max-width: 767px) {
  #slider_home {
    height: 400px; }
    #slider_home .slider_banner {
      position: relative;
      height: 400px; }
      #slider_home .slider_banner img {
        position: absolute;
        top: 200px;
        left: 50%;
        margin-left: -100px; }
      #slider_home .slider_banner .slider_text {
        display: block;
        text-align: center; }
      #slider_home .slider_banner h2 {
        margin-top: 40px !important;
        font-size: 40px !important; }
        #slider_home .slider_banner h2 span {
          display: none !important; }
      #slider_home .slider_banner p {
        font-size: 16px !important;
        margin: 10px auto 0 !important; }
    #slider_home .slick-prev {
      left: 10px; }
    #slider_home .slick-next {
      right: 10px; }

  #banner_closet {
    width: 100%;
    height: 446px;
    margin: 30px 0 !important; }
    #banner_closet img {
      margin: 20px 0; }
    #banner_closet h2, #banner_closet p {
      padding: 0 20px; }

  #featured {
    margin: 40px 0 0; }
    #featured .featured {
      width: 100%;
      height: 300px;
      margin: 0 0 20px !important; }
      #featured .featured h2 {
        font-size: 28px;
        margin-top: 120px; }
      #featured .featured p {
        font-size: 16px; }

  #top_search {
    margin: 20px auto 0; }
    #top_search a {
      display: block;
      margin-bottom: 20px; }

  #home_extras {
    margin: 0 0 40px; }
    #home_extras a {
      display: block;
      width: 100% !important;
      float: none !important;
      background: #FFF;
      padding: 40px 0;
      height: auto !important;
      overflow: hidden;
      margin: 40px 0; }
      #home_extras a .text {
        float: none !important;
        text-align: center !important; }
      #home_extras a br {
        display: none; }
      #home_extras a h2 {
        margin: 0 0 20px !important;
        padding: 0 20px; }
      #home_extras a p {
        line-height: 26px; }
      #home_extras a img {
        display: none; }

  #related {
    margin-top: 0; } }
@media all and (min-width: 768px) and (max-width: 1079px) {
  .slider_banner img {
    width: 200px; }
  .slider_banner .slider_text {
    width: 400px; }

  .featured {
    display: block !important;
    width: auto !important;
    margin: 0 0 20px !important; }

  #top_search {
    margin: 44px auto;
    max-width: 700px; }
    #top_search a {
      margin-bottom: 20px; }

  #home_extras {
    margin: 0 0 40px; }
    #home_extras a {
      display: block;
      width: 100% !important;
      float: none !important; } }
@media all and (min-width: 1080px) and (max-width: 1279px) {
  #top_search {
    margin: 44px auto;
    max-width: 900px; }
    #top_search a {
      margin-bottom: 20px; }

  .home_extra .text {
    width: 296px !important; }
    .home_extra .text h2 {
      margin-top: 50px !important; }

  .home_extra:nth-child(2) h2 {
    margin-top: 14px !important; } }

/*# sourceMappingURL=home.css.map */
