body
	background: #F9F9F9

#custom_banner
	display: block
	margin-top: 60px
	width: 100%
	height: 102px
	background: #000
	text-align: center
	color: #FFF
	overflow: hidden
	h2
		letter-spacing: 1px
		margin: 36px 0 2px
		font-size: 24px
	p
		letter-spacing: 1px
		font-size: 12px

#slider_home
	width: 100%
	height: 494px
	.slider_banner
		width: 100%
		height: 494px
		background: #FFF
		text-align: center
		img
			display: inline-block
			width: 250px
			height: 100%
			margin-right: 40px
		.slider_text
			display: inline-block
			vertical-align: top
			text-align: left
			h2
				margin-top: 140px
				font-size: 64px
				color: rgba(0,0,0,0.9)
				font-weight: bold
				span
					font-weight: normal
					font-style: italic
					display: block
					color: #000
			p
				color: #000
				max-width: 314px
				font-size: 18px
				margin-top: 20px
				line-height: 26px
	.slick-arrow
		position: absolute
		width: 20px
		height: 30px
		top: 232px
		z-index: 10
	.slick-prev
		left: 36px
		background: url(../images/slider_left.svg)
	.slick-next
		right: 36px
		background: url(../images/slider_right.svg)

#banner_closet
	display: block
	width: auto
	height: 204px
	margin: 44px
	background: #EBEBEB
	text-align: center
	.banner_text
		vertical-align: top
		display: inline-block
		margin-top: 80px
		color: #000
		h2
			font-size: 32px
			font-weight: bold
			margin-bottom: 8px
			span
				font-weight: normal
				font-style: italic
	img
		display: inline-block
		margin-left: 40px

.section_title
	font-size: 20px
	color: #707070
	margin-bottom: 30px
	font-family: 'NittiBasic-Light', serif

#featured
	width: auto
	margin: 44px 44px 0
	text-align: center
	.featured
		display: inline-block
		color: #FFF
		width: 300px
		height: 300px
		overflow: hidden
		h2
			font-size: 28px
			font-weight: bold
			margin-top: 120px
		.line
			margin: 8px 20px 10px
			height: 2px
			background: #FFF
		p
			font-size: 18px
			max-width: 290px
			margin: 0 auto
			line-height: 22px
	.featured:nth-child(3)
		margin: 0 40px

#top_search
	margin: 44px 0
	overflow: hidden
	text-align: center
	a
		display: inline-block
		color: #000
		font-style: italic
		font-size: 26px
		margin: 0 20px

#home_extras
	display: block
	width: auto
	margin: 44px
	overflow: hidden
	#sell
		display: block
		width: auto
		height: 204px
		margin-bottom: 20px
		background: #FFF
		text-align: center
		overflow: hidden
		color: #000
		h2
			font-size: 32px
			font-weight: bold
			margin: 80px 0 10px
		p
			font-size: 18px
	.home_extra
		float: right
		color: #000
		width: 49%
		height: 204px
		background: #FFF
		text-align: right
		img
			width: 170px
			float: right
		.text
			float: right
			width: auto
			margin: 0 10px
			h2
				font-size: 32px
				font-weight: bold
				margin-top: 70px
			p
				margin-top: 10px
				font-size: 18px
	.home_extra:nth-child(2)
		float: left
		img
			float: left
		.text
			float: left
			text-align: left
		h2
			margin-top: 50px

#related
	width: 100%
	background: #F9F9F9
	margin-top: 40px
	text-align: center
	.related_content
		margin: 0 auto
	.related
		color: #000
		cursor: pointer
		display: inline-block
		vertical-align: top
		width: 320px
		height: 320px
		background: #FFF
		margin: 0 30px 40px
		text-align: left
		img
			display: block
			width: 50%
			margin: -20px auto 16px
		h2
			font-size: 28px
			font-style: italic
			padding: 20px 20px 10px 20px
			color: rgba(0,0,0,0.9)
		p
			font-size: 28px
			padding-left: 20px
		h3
			padding-right: 20px
			text-align: right
			font-size: 22px
			color: #000
			span
				color: rgba(0,0,0,0.2)
				text-decoration: line-through
				margin-right: 10px
				font-weight: 200
	.related:hover
		-webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2)
		-moz-box-shadow:    0px 4px 15px 0px rgba(50, 50, 50, 0.2)
		box-shadow:         0px 4px 15px 0px rgba(50, 50, 50, 0.2)
		margin-top: -2px

// *** MEDIAS HOME

@media all and (max-width: 767px)
	#slider_home
		height: 400px
		.slider_banner
			position: relative
			height: 400px
			img
				position: absolute
				top: 200px
				left: 50%
				margin-left: -100px
			.slider_text
				display: block
				text-align: center
			h2
				margin-top: 40px !important
				font-size: 40px !important
				span
					display: none !important
			p
				font-size: 16px !important
				margin: 10px auto 0 !important
		.slick-prev
			left: 10px
		.slick-next
			right: 10px
	
	#banner_closet
		width: 100%
		height: 446px
		margin: 30px 0 !important
		img
			margin: 20px 0
		h2, p
			padding: 0 20px

	#featured
		margin: 40px 0 0
		.featured
			width: 100%
			height: 300px
			margin: 0 0 20px !important
			h2
				font-size: 28px
				margin-top: 120px
			p
				font-size: 16px

	#top_search
		margin: 20px auto 0
		a
			display: block
			margin-bottom: 20px
	#home_extras
		margin: 0 0 40px
		a
			display: block
			width: 100% !important
			float: none !important
			background: #FFF
			padding: 40px 0
			height: auto !important
			overflow: hidden
			margin: 40px 0
			.text
				float: none !important
				text-align: center !important
			br
				display: none
			h2
				margin: 0 0 20px !important
				padding: 0 20px
			p
				line-height: 26px
			img
				display: none
	#related
		margin-top: 0

@media all and (min-width: 768px) and (max-width:1079px)
	.slider_banner
		img
			width: 200px
		.slider_text
			width: 400px
	.featured
		display: block !important
		width: auto !important
		margin: 0 0 20px !important
	#top_search
		margin: 44px auto
		max-width: 700px
		a
			margin-bottom: 20px
	#home_extras
		margin: 0 0 40px
		a
			display: block
			width: 100% !important
			float: none !important

@media all and (min-width: 1080px) and (max-width:1279px)
	#top_search
		margin: 44px auto
		max-width: 900px
		a
			margin-bottom: 20px
	.home_extra
		.text
			width: 296px !important
			h2
				margin-top: 50px !important
	.home_extra:nth-child(2)
		h2
			margin-top: 14px !important
