body
	font-size: 15px

// *** MENU
#header-nav
	position: fixed
	z-index: 10
	top: 0
	width: 100%
	height: 60px
	background: #FFF
	border-bottom: 1px solid rgba(0,0,0,0.1)
	#menu_extra
		display: none
	#menu_left
		float: left
		padding-left: 40px
		.logo
			float: left
			margin: 18px 20px 0 0
			width: 116px
			height: 25px
			background: url(../images/logo.svg)
		.categories
			overflow: hidden
			float: left
			li
				display: block
				float: left
				font-size: 15px
				height: 20px
				padding: 26px 20px 14px 20px
				a 
					color: #000
			.active
				background: #000
				a
					color: #FFF
	#menu_right
		float: right	
		padding-right: 40px	
		.actions
			overflow: hidden
			float: right
			*
				float: left
				cursor: pointer
			img
				display: block
				padding-right: 20px
				border-right: 1px solid rgba(0,0,0,0.3)
				margin-top: 18px
			.divisa
				width: 70px
				margin: 26px 20px 0
				text-align: left
				*
					float: left
				.icon
					width: 18px
					height: 11px
					background: url(../images/down.png)
					margin: 0 8px
			.call_login
				margin-top: 26px
			.kart
				width: 25px
				height: 29px
				background: url(../images/kart.png)
				margin: 14px 0 0 20px
	.sub_menu
		display: none
		position: absolute
		top: 60px
		background: #000
		padding-left: 180px
		width: 100%
		li
			float: left
			height: 10px
			padding: 12px 10px
			margin: 0 10px
		a
			color: #FFF


	#menu_button
		display: none
		cursor: pointer
		float: right
		width: 28px
		height: 25px
		background: url(../images/menu.svg)
		margin: 18px 20px 0
	#kart_mobile
		display: none
		float: right
		width: 25px
		height: 29px
		background: url(../images/kart.png)
		margin: 14px 0 0 20px

#header-nav.product
	.categories, #menu_right, .sub_menu
		display: none !important
	#menu_extra
		float: left
		height: 20px
		padding: 22px 0 0 20px
		h2
			margin-top: 2px
			font-size: 17px
			text-align: center
			font-weight: bold
			span
				font-style: italic
				font-weight: normal
		.extra_prices
			position: absolute
			right: 40px
			top: 8px
			overflow: hidden
			.price
				float: left
				margin-left: 30px
				span
					display: block
					text-align: right
					margin: 6px 0 4px
					font-size: 10px
				p
					font-size: 20px
					text-align: left

			.button
				margin-top: 2px
				cursor: pointer
				display: inline-block
				text-align: center
				height: 18px
				padding: 12px 20px 7px
				background: #000
				color: #FFF
				border: 1px solid #000
				margin-right: 3px
				-webkit-border-radius: 5px
				-moz-border-radius: 5px
				border-radius: 5px
	

#menu_mobile
	position: absolute
	width: 100%
	height: 0
	background: #4C4C4C
	overflow: hidden
	top: 0
	#header_menu
		height: 60px
		.logo
			float: left
			margin: 18px 20px 0 20px
			width: 116px
			height: 25px
			background: url(../images/logo_w.svg) !important
		#menu_close
			cursor: pointer
			float: right
			width: 28px
			height: 25px
			background: url(../images/close.svg) center no-repeat
			margin: 18px 20px 0 0
	li
		border-top: 1px solid rgba(112,112,112,0.7)
		padding: 16px 0
		text-align: center
		color: #FFF
	li:hover
		font-weight: bold
		background: #666
// *** END MENU

footer
	width: 100%
	height: 180px
	background: #181818

// *** MEDIAS MAIN
@media all and (max-width: 767px)
	#header-nav 
		.categories, #menu_right, #menu_extra
			display: none !important
		#menu_left
			padding-left: 20px
		#menu_button
			display: block

	#related 
		.related
			display: block
			width: 100%
			height: auto
			padding-bottom: 20px
			margin: 0 auto 20px

	#product
		#product_left
			float: none 
			width: 100%
			height: auto
			img
				width: 80% !important
		#product_right
			float: none 
			width: 100%
			.breadcrumbs
				display: none
			h2, h1
				font-size: 32px
			#prices
				position: relative
				text-align: center
				bottom: 0
				right: 0
				margin: 40px 0
			.buttons
				margin: 30px 0 60px
				.button
					display: block !important
					margin: 0 auto 20px !important
					width: 90%
				.button.black
					margin-bottom: 0 !important
				a
					float: right
					margin: 0 !important
	#product_section
		height: auto
		padding: 30px 0 20px
		.images
			margin: 0
		img
			margin-bottom: 20px !important
		p
			padding: 0 20px
	#extras
		height: auto
		#extra_left
			float: none
			width: 100%
			height: auto
			img
				display: block
				width: 80%
		#extra_right
			float: none
			width: 100%
			height: auto
			.extra_text
				a
					display: none
			.items
				.item
					margin-bottom: 20px
					p
						font-size: 16px


@media all and (min-width: 768px) and (max-width:1079px)
	#header-nav 
		.categories, #menu_right, #menu_extra
			display: none !important
		#menu_left
			padding-left: 20px
		#menu_button
			display: block

@media all and (min-width: 1080px)
	#header-nav
		background: #FFF