body {
  font-size: 15px; }

#header-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 60px;
  background: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #header-nav #menu_extra {
    display: none; }
  #header-nav #menu_left {
    float: left;
    padding-left: 40px; }
    #header-nav #menu_left .logo {
      float: left;
      margin: 18px 20px 0 0;
      width: 116px;
      height: 25px;
      background: url(../images/logo.svg); }
    #header-nav #menu_left .categories {
      overflow: hidden;
      float: left; }
      #header-nav #menu_left .categories li {
        display: block;
        float: left;
        font-size: 15px;
        height: 20px;
        padding: 26px 20px 14px 20px; }
        #header-nav #menu_left .categories li a {
          color: #000; }
      #header-nav #menu_left .categories .active {
        background: #000; }
        #header-nav #menu_left .categories .active a {
          color: #FFF; }
  #header-nav #menu_right {
    float: right;
    padding-right: 40px; }
    #header-nav #menu_right .actions {
      overflow: hidden;
      float: right; }
      #header-nav #menu_right .actions * {
        float: left;
        cursor: pointer; }
      #header-nav #menu_right .actions img {
        display: block;
        padding-right: 20px;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: 18px; }
      #header-nav #menu_right .actions .divisa {
        width: 70px;
        margin: 26px 20px 0;
        text-align: left; }
        #header-nav #menu_right .actions .divisa * {
          float: left; }
        #header-nav #menu_right .actions .divisa .icon {
          width: 18px;
          height: 11px;
          background: url(../images/down.png);
          margin: 0 8px; }
      #header-nav #menu_right .actions .call_login {
        margin-top: 26px; }
      #header-nav #menu_right .actions .kart {
        width: 25px;
        height: 29px;
        background: url(../images/kart.png);
        margin: 14px 0 0 20px; }
  #header-nav .sub_menu {
    display: none;
    position: absolute;
    top: 60px;
    background: #000;
    padding-left: 180px;
    width: 100%; }
    #header-nav .sub_menu li {
      float: left;
      height: 10px;
      padding: 12px 10px;
      margin: 0 10px; }
    #header-nav .sub_menu a {
      color: #FFF; }
  #header-nav #menu_button {
    display: none;
    cursor: pointer;
    float: right;
    width: 28px;
    height: 25px;
    background: url(../images/menu.svg);
    margin: 18px 20px 0; }
  #header-nav #kart_mobile {
    display: none;
    float: right;
    width: 25px;
    height: 29px;
    background: url(../images/kart.png);
    margin: 14px 0 0 20px; }

#header-nav.product .categories, #header-nav.product #menu_right, #header-nav.product .sub_menu {
  display: none !important; }
#header-nav.product #menu_extra {
  float: left;
  height: 20px;
  padding: 22px 0 0 20px; }
  #header-nav.product #menu_extra h2 {
    margin-top: 2px;
    font-size: 17px;
    text-align: center;
    font-weight: bold; }
    #header-nav.product #menu_extra h2 span {
      font-style: italic;
      font-weight: normal; }
  #header-nav.product #menu_extra .extra_prices {
    position: absolute;
    right: 40px;
    top: 8px;
    overflow: hidden; }
    #header-nav.product #menu_extra .extra_prices .price {
      float: left;
      margin-left: 30px; }
      #header-nav.product #menu_extra .extra_prices .price span {
        display: block;
        text-align: right;
        margin: 6px 0 4px;
        font-size: 10px; }
      #header-nav.product #menu_extra .extra_prices .price p {
        font-size: 20px;
        text-align: left; }
    #header-nav.product #menu_extra .extra_prices .button {
      margin-top: 2px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      height: 18px;
      padding: 12px 20px 7px;
      background: #000;
      color: #FFF;
      border: 1px solid #000;
      margin-right: 3px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }

#menu_mobile {
  position: absolute;
  width: 100%;
  height: 0;
  background: #4C4C4C;
  overflow: hidden;
  top: 0; }
  #menu_mobile #header_menu {
    height: 60px; }
    #menu_mobile #header_menu .logo {
      float: left;
      margin: 18px 20px 0 20px;
      width: 116px;
      height: 25px;
      background: url(../images/logo_w.svg) !important; }
    #menu_mobile #header_menu #menu_close {
      cursor: pointer;
      float: right;
      width: 28px;
      height: 25px;
      background: url(../images/close.svg) center no-repeat;
      margin: 18px 20px 0 0; }
  #menu_mobile li {
    border-top: 1px solid rgba(112, 112, 112, 0.7);
    padding: 16px 0;
    text-align: center;
    color: #FFF; }
  #menu_mobile li:hover {
    font-weight: bold;
    background: #666; }

footer {
  width: 100%;
  height: 180px;
  background: #181818; }

@media all and (max-width: 767px) {
  #header-nav .categories, #header-nav #menu_right, #header-nav #menu_extra {
    display: none !important; }
  #header-nav #menu_left {
    padding-left: 20px; }
  #header-nav #menu_button {
    display: block; }

  #related .related {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin: 0 auto 20px; }

  #product #product_left {
    float: none;
    width: 100%;
    height: auto; }
    #product #product_left img {
      width: 80% !important; }
  #product #product_right {
    float: none;
    width: 100%; }
    #product #product_right .breadcrumbs {
      display: none; }
    #product #product_right h2, #product #product_right h1 {
      font-size: 32px; }
    #product #product_right #prices {
      position: relative;
      text-align: center;
      bottom: 0;
      right: 0;
      margin: 40px 0; }
    #product #product_right .buttons {
      margin: 30px 0 60px; }
      #product #product_right .buttons .button {
        display: block !important;
        margin: 0 auto 20px !important;
        width: 90%; }
      #product #product_right .buttons .button.black {
        margin-bottom: 0 !important; }
      #product #product_right .buttons a {
        float: right;
        margin: 0 !important; }

  #product_section {
    height: auto;
    padding: 30px 0 20px; }
    #product_section .images {
      margin: 0; }
    #product_section img {
      margin-bottom: 20px !important; }
    #product_section p {
      padding: 0 20px; }

  #extras {
    height: auto; }
    #extras #extra_left {
      float: none;
      width: 100%;
      height: auto; }
      #extras #extra_left img {
        display: block;
        width: 80%; }
    #extras #extra_right {
      float: none;
      width: 100%;
      height: auto; }
      #extras #extra_right .extra_text a {
        display: none; }
      #extras #extra_right .items .item {
        margin-bottom: 20px; }
        #extras #extra_right .items .item p {
          font-size: 16px; } }
@media all and (min-width: 768px) and (max-width: 1079px) {
  #header-nav .categories, #header-nav #menu_right, #header-nav #menu_extra {
    display: none !important; }
  #header-nav #menu_left {
    padding-left: 20px; }
  #header-nav #menu_button {
    display: block; } }
@media all and (min-width: 1080px) {
  #header-nav {
    background: #FFF; } }

/*# sourceMappingURL=main.css.map */
