@media all and (max-width: 767px) {
  #header-nav .categories, #header-nav #menu_right, #header-nav #menu_extra {
    display: none !important; }
  #header-nav #menu_left {
    padding-left: 20px; }
  #header-nav #menu_button {
    display: block; }

  #related .related {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin: 0 auto 20px; }

  #product #product_left {
    float: none;
    width: 100%;
    height: auto; }
    #product #product_left img {
      width: 80% !important; }
  #product #product_right {
    float: none;
    width: 100%; }
    #product #product_right .breadcrumbs {
      display: none; }
    #product #product_right h2, #product #product_right h1 {
      font-size: 32px; }
    #product #product_right #prices {
      position: relative;
      text-align: center;
      bottom: 0;
      right: 0;
      margin: 40px 0; }
    #product #product_right .buttons {
      margin: 30px 0 60px; }
      #product #product_right .buttons .button {
        display: block !important;
        margin: 0 auto 20px !important;
        width: 90%; }
      #product #product_right .buttons .button.black {
        margin-bottom: 0 !important; }
      #product #product_right .buttons a {
        float: right;
        margin: 0 !important; }

  #product_section {
    height: auto;
    padding: 30px 0 20px; }
    #product_section .images {
      margin: 0; }
    #product_section img {
      margin-bottom: 20px !important; }
    #product_section p {
      padding: 0 20px; }

  #extras {
    height: auto; }
    #extras #extra_left {
      float: none;
      width: 100%;
      height: auto; }
      #extras #extra_left img {
        display: block;
        width: 80%; }
    #extras #extra_right {
      float: none;
      width: 100%;
      height: auto; }
      #extras #extra_right .extra_text a {
        display: none; }
      #extras #extra_right .items .item {
        margin-bottom: 20px; }
        #extras #extra_right .items .item p {
          font-size: 16px; } }
@media all and (min-width: 768px) and (max-width: 1079px) {
  #header-nav .categories, #header-nav #menu_right, #header-nav #menu_extra {
    display: none !important; }
  #header-nav #menu_left {
    padding-left: 20px; }
  #header-nav #menu_button {
    display: block; } }
@media all and (min-width: 1080px) {
  #header-nav {
    background: #FFF; } }

/*# sourceMappingURL=medias.css.map */
