@media all and (max-width: 767px)
	#header-nav 
		.categories, #menu_right, #menu_extra
			display: none !important
		#menu_left
			padding-left: 20px
		#menu_button
			display: block

	#related 
		.related
			display: block
			width: 100%
			height: auto
			padding-bottom: 20px
			margin: 0 auto 20px

	#product
		#product_left
			float: none 
			width: 100%
			height: auto
			img
				width: 80% !important
		#product_right
			float: none 
			width: 100%
			.breadcrumbs
				display: none
			h2, h1
				font-size: 32px
			#prices
				position: relative
				text-align: center
				bottom: 0
				right: 0
				margin: 40px 0
			.buttons
				margin: 30px 0 60px
				.button
					display: block !important
					margin: 0 auto 20px !important
					width: 90%
				.button.black
					margin-bottom: 0 !important
				a
					float: right
					margin: 0 !important
	#product_section
		height: auto
		padding: 30px 0 20px
		.images
			margin: 0
		img
			margin-bottom: 20px !important
		p
			padding: 0 20px
	#extras
		height: auto
		#extra_left
			float: none
			width: 100%
			height: auto
			img
				display: block
				width: 80%
		#extra_right
			float: none
			width: 100%
			height: auto
			.extra_text
				a
					display: none
			.items
				.item
					margin-bottom: 20px
					p
						font-size: 16px


@media all and (min-width: 768px) and (max-width:1079px)
	#header-nav 
		.categories, #menu_right, #menu_extra
			display: none !important
		#menu_left
			padding-left: 20px
		#menu_button
			display: block

@media all and (min-width: 1080px)
	#header-nav
		background: #FFF