#product {
  margin-top: 60px;
  height: 100%; }
  #product #product_left {
    float: left;
    width: 50%;
    height: 100%;
    background: #FFF; }
    #product #product_left #image_product {
      display: block;
      width: 50%;
      margin: 0 auto; }
  #product #product_right {
    float: left;
    width: 50%;
    height: 100%;
    background: #F9F9F9;
    position: relative; }
    #product #product_right #details {
      overflow: hidden;
      padding: 0 40px; }
    #product #product_right .breadcrumbs {
      overflow: hidden;
      margin: 30px 0; }
      #product #product_right .breadcrumbs .breadcrumb {
        float: left; }
        #product #product_right .breadcrumbs .breadcrumb a {
          display: inline-block;
          color: #000; }
        #product #product_right .breadcrumbs .breadcrumb span {
          vertical-align: top;
          display: inline-block;
          margin: 2px 6px 0;
          width: 10px;
          height: 7px;
          background: url(../images/breadcrumb.png); }
      #product #product_right .breadcrumbs .send_to {
        float: right;
        color: #707070;
        cursor: pointer; }
        #product #product_right .breadcrumbs .send_to span {
          display: inline-block;
          width: 11px;
          height: 11px;
          background: url(../images/send.png); }
        #product #product_right .breadcrumbs .send_to p {
          display: inline-block;
          margin-left: 6px; }
    #product #product_right h2 {
      font-size: 64px;
      font-style: italic;
      margin-top: 30px; }
    #product #product_right h1 {
      font-size: 64px;
      font-weight: bold; }
    #product #product_right h3 {
      font-size: 18px;
      margin-top: 14px; }
    #product #product_right #prices {
      position: absolute;
      bottom: 40px;
      right: 40px;
      text-align: right; }
      #product #product_right #prices .price {
        margin-bottom: 16px; }
        #product #product_right #prices .price p {
          color: #707070;
          margin: 4px 0; }
        #product #product_right #prices .price .sale {
          display: inline-block;
          background: #FB364E;
          color: #FFF;
          font-weight: bold;
          padding: 6px 6px 2px; }
        #product #product_right #prices .price h4 {
          font-size: 28px; }
        #product #product_right #prices .price .not_price {
          text-decoration: line-through; }
      #product #product_right #prices .buttons {
        margin: 30px 0 60px; }
        #product #product_right #prices .buttons .button {
          cursor: pointer;
          display: inline-block;
          text-align: center;
          height: 18px;
          padding: 15px 20px 10px;
          border: 1px solid #000;
          margin-right: 20px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
        #product #product_right #prices .buttons .button.black {
          background: #000;
          color: #FFF;
          margin-right: 0; }
        #product #product_right #prices .buttons a {
          display: inline-block;
          margin: 20px 6px 0 0;
          text-decoration: underline;
          color: #707070; }
      #product #product_right #prices .scroll {
        font-size: 18px;
        display: inline-block; }
      #product #product_right #prices .icon {
        display: inline-block;
        width: 18px;
        height: 11px;
        background: url(../images/down.png);
        margin: 0 8px; }

#product_section {
  width: 100%;
  height: 594px;
  background: #181818;
  overflow: hidden; }
  #product_section .images {
    margin: 50px 0;
    text-align: center; }
    #product_section .images img {
      display: inline-block;
      margin: 0 10px; }
  #product_section p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    margin-bottom: 10px; }

#extras {
  width: 100%;
  height: 814px;
  overflow: hidden; }
  #extras #extra_left {
    float: left;
    width: 50%;
    height: 100%;
    background: #FFF; }
    #extras #extra_left img {
      display: block;
      width: 50%;
      margin: 0 auto; }
  #extras #extra_right {
    float: left;
    width: 50%;
    height: 100%;
    background: #F9F9F9;
    padding: 40px 0; }
    #extras #extra_right .extra_text {
      position: relative;
      padding: 0 40px; }
      #extras #extra_right .extra_text > h2 {
        font-size: 32px;
        color: #000;
        font-style: italic; }
      #extras #extra_right .extra_text a {
        position: absolute;
        right: 40px;
        top: 8px;
        color: #707070;
        text-decoration: underline;
        font-size: 16px; }
    #extras #extra_right .squares {
      overflow: hidden;
      margin: 30px 0; }
      #extras #extra_right .squares .square {
        float: left;
        width: 55px;
        height: 80px;
        text-align: center;
        margin-right: 10px; }
        #extras #extra_right .squares .square div {
          width: 55px;
          height: 55px;
          background: #ECECEC;
          overflow: hidden; }
        #extras #extra_right .squares .square p {
          margin-top: 10px;
          font-size: 15px;
          color: #707070; }
        #extras #extra_right .squares .square .color {
          background: #4A3232; }
        #extras #extra_right .squares .square .year p {
          font-size: 28px;
          margin-top: 16px;
          color: #181818; }
        #extras #extra_right .squares .square .size p {
          font-size: 28px;
          margin-top: 16px;
          color: #000;
          font-weight: bold; }
    #extras #extra_right .extra {
      margin-bottom: 30px; }
      #extras #extra_right .extra h2 {
        margin-bottom: 14px;
        color: #707070; }
      #extras #extra_right .extra h3 {
        font-size: 28px;
        color: #181818; }
    #extras #extra_right .medidas {
      margin-bottom: 40px; }
      #extras #extra_right .medidas h2 {
        margin-bottom: 14px;
        color: #707070; }
      #extras #extra_right .medidas .medida {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        color: #707070; }
        #extras #extra_right .medidas .medida div {
          display: inline-block;
          font-size: 28px;
          color: #181818;
          background: #ECECEC;
          padding: 14px;
          margin: 0 10px 10px 0; }
    #extras #extra_right .items {
      margin-bottom: 40px; }
      #extras #extra_right .items .item {
        display: inline-block;
        margin-right: 60px; }
        #extras #extra_right .items .item h2 {
          margin-bottom: 14px;
          color: #707070; }
        #extras #extra_right .items .item p {
          font-size: 18px; }
    #extras #extra_right .shipping h2 {
      margin-bottom: 14px;
      color: #707070; }
    #extras #extra_right .shipping p {
      font-size: 28px; }

#related {
  background: #F9F9F9;
  padding: 60px 0 100px;
  text-align: center; }
  #related h4 {
    color: #707070;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 2px; }
  #related .related {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 320px;
    background: #FFF;
    margin: 0 30px;
    text-align: left; }
    #related .related img {
      display: block;
      width: 50%;
      margin: -20px auto 16px; }
    #related .related h2 {
      font-size: 28px;
      font-style: italic;
      padding: 20px 20px 10px 20px;
      color: rgba(0, 0, 0, 0.9); }
    #related .related p {
      font-size: 28px;
      padding-left: 20px; }
    #related .related h3 {
      padding-right: 20px;
      text-align: right;
      font-size: 22px;
      color: #000; }
      #related .related h3 span {
        color: rgba(0, 0, 0, 0.2);
        text-decoration: line-through;
        margin-right: 10px;
        font-weight: 200; }
  #related .related:hover {
    -webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
    margin-top: -2px; }

/*# sourceMappingURL=product.css.map */
