/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none
}

@font-face {
  font-family: 'NittiBasic-Light';
  src: url('fonts/NittiBasic-Light.eot');
  src: url('fonts/NittiBasic-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/NittiBasic-Light.woff2') format('woff2'),
  url('fonts/NittiBasic-Light.woff') format('woff'),
  url('fonts/NittiBasic-Light.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
	font-family: 'AdelleSans-Regular';
	src: url('fonts/AdelleSans-Regular.eot');
	src: url('fonts/AdelleSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/AdelleSans-Regular.woff2') format('woff2'),
	url('fonts/AdelleSans-Regular.woff') format('woff'),
	url('fonts/AdelleSans-Regular.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal; 
}

.hoefler { font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif; }
.nitti { font-family: 'NittiBasic-Light', serif }
body { font-family: 'AdelleSans-Regular', serif }