.section {
  width: 100%;
  text-align: center;
  padding: 30px 0; }
  .section .filters {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-right: 20px; }
    .section .filters ul {
      text-align: left; }
      .section .filters ul li {
        cursor: pointer;
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.25);
        color: rgba(0, 0, 0, 0.25);
        padding: 2px 6px;
        margin: 0 6px 10px 4px;
        font-size: 16px; }
        .section .filters ul li span {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 6px 0 0 4px;
          background: url(../images/filters/delete.svg); }
    .section .filters h3 {
      text-align: left;
      margin: 20px 0 10px;
      font-size: 16px;
      font-weight: bold; }
    .section .filters .filter {
      width: 250px;
      text-align: left;
      background: rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin-bottom: 20px; }
      .section .filters .filter h2 {
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer; }
      .section .filters .filter span {
        display: inline-block;
        float: right;
        width: 17px;
        height: 10px;
        margin-top: 4px;
        background: url(../images/filters/down.svg); }
      .section .filters .filter .filter_content {
        overflow: hidden;
        height: 0;
        max-height: 214px;
        overflow-y: auto;
        text-align: left; }
        .section .filters .filter .filter_content .line {
          width: 208px;
          height: 1px;
          background: rgba(196, 196, 196, 0.5);
          margin: 0 auto 16px; }
        .section .filters .filter .filter_content .option {
          width: 208px;
          margin: 0 auto;
          padding-bottom: 16px; }
          .section .filters .filter .filter_content .option .check {
            display: inline-block;
            vertical-align: top;
            width: 16px;
            height: 16px;
            background: url(../images/filters/check.svg); }
          .section .filters .filter .filter_content .option p {
            display: inline-block;
            vertical-align: top;
            margin: 3px 0 0 6px; }
        .section .filters .filter .filter_content .active .check {
          background: url(../images/filters/checked.svg); }
        .section .filters .filter .filter_content .color {
          display: inline-block;
          width: 45px;
          height: 45px;
          border: 5px solid #FFF;
          margin: 0 10px 10px; }
          .section .filters .filter .filter_content .color div {
            width: 45px;
            height: 45px; }
        .section .filters .filter .filter_content .red div {
          background: red; }
        .section .filters .filter .filter_content .orange div {
          background: orange; }
        .section .filters .filter .filter_content .purple div {
          background: purple; }
        .section .filters .filter .filter_content .yellow div {
          background: yellow; }
        .section .filters .filter .filter_content .blue div {
          background: blue; }
        .section .filters .filter .filter_content .brown div {
          background: brown; }
        .section .filters .filter .filter_content .green div {
          background: green; }
        .section .filters .filter .filter_content .black div {
          background: black; }
        .section .filters .filter .filter_content .white div {
          background: white; }
    .section .filters .filter.active span {
      background: url(../images/filters/up.svg); }
    .section .filters .filter.active .filter_content {
      height: auto; }
    .section .filters a {
      display: block;
      font-size: 16px;
      text-align: left;
      text-decoration: underline;
      color: #707070;
      margin-bottom: 20px; }
  .section .items {
    display: inline-block;
    vertical-align: top;
    width: 1000px; }
    .section .items .header_items {
      width: 100%;
      height: 60px; }
      .section .items .header_items p {
        float: left;
        color: rgba(0, 0, 0, 0.25); }
      .section .items .header_items select {
        float: right;
        font-size: 16px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid transparent;
        background: #C4C4C4; }
    .section .items .related_content {
      max-width: 1148px;
      margin: 0 auto; }
      .section .items .related_content .related {
        color: #000;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 320px;
        height: 320px;
        background: #FFF;
        margin: 0 0 40px;
        text-align: left; }
        .section .items .related_content .related img {
          display: block;
          width: 50%;
          margin: -20px auto 16px; }
        .section .items .related_content .related h2 {
          font-size: 28px;
          font-style: italic;
          padding: 20px 20px 10px 20px;
          color: rgba(0, 0, 0, 0.9); }
        .section .items .related_content .related p {
          font-size: 28px;
          padding-left: 20px; }
        .section .items .related_content .related h3 {
          padding-right: 20px;
          text-align: right;
          font-size: 22px;
          color: #000; }
          .section .items .related_content .related h3 span {
            color: rgba(0, 0, 0, 0.2);
            text-decoration: line-through;
            margin-right: 10px;
            font-weight: 200; }
        .section .items .related_content .related:hover {
          -webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
          -moz-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2);
          margin-top: -2px !important; }
      .section .items .related_content .related:nth-child(3n-1) {
        margin: 0 14px 40px; }
  .section .pagination {
    text-align: center;
    padding: 10px 0 60px; }
    .section .pagination a {
      vertical-align: bottom;
      display: inline-block;
      margin: 0;
      color: #000; }
      .section .pagination a span {
        vertical-align: top;
        display: inline-block;
        width: 22px;
        height: 15px;
        margin: -2px 10px 0; }
      .section .pagination a p {
        display: inline-block; }
    .section .pagination .number {
      width: 25px;
      height: 18px;
      padding-top: 7px; }
      .section .pagination .number:hover {
        color: #FFF;
        background: url(../images/pagination/nav_active.svg); }
    .section .pagination .active {
      color: #FFF;
      background: url(../images/pagination/nav_active.svg); }
    .section .pagination .prev {
      margin: 8px 20px 0 0; }
      .section .pagination .prev span {
        background: url(../images/pagination/nav_prev.svg); }
    .section .pagination .next {
      margin: 8px 0 0 20px; }
      .section .pagination .next span {
        background: url(../images/pagination/nav_next.svg); }

@media all and (max-width: 767px) {
  .section .filters {
    width: 100%;
    margin-right: 0;
    text-align: center; }
    .section .filters ul {
      width: 220px;
      display: inline-block;
      margin: 0 40px; }
    .section .filters .filter {
      margin: 0 auto 20px;
      width: 100%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
      .section .filters .filter .filter_content .line {
        width: 90%; }
      .section .filters .filter .filter_content .option {
        margin: 0 0 0 20px; }
  .section .items {
    width: 100%; }
    .section .items .header_items {
      display: none; }
    .section .items .related_content .related {
      width: 100%;
      height: auto;
      padding-bottom: 20px; }
    .section .items .related_content .related:nth-child(3n-1) {
      margin: 0 0 40px; }
    .section .items .pagination .prev, .section .items .pagination .next {
      margin: 8px 10px 0 0; }
      .section .items .pagination .prev p, .section .items .pagination .next p {
        display: none; } }
@media all and (min-width: 768px) and (max-width: 1079px) {
  .section .items {
    width: 460px; } }
@media all and (min-width: 1080px) and (max-width: 1279px) {
  .section .items {
    width: 760px; }
    .section .items .related_content .related:nth-child(3n-1) {
      margin: 0 0 40px; }
    .section .items .related_content .related:nth-child(2n-0) {
      margin: 0 0 40px 40px; } }

/*# sourceMappingURL=section.css.map */
