.section
	width: 100%
	text-align: center
	padding: 30px 0
	.filters
		display: inline-block
		vertical-align: top
		width: 250px
		margin-right: 20px
		ul
			text-align: left
			li
				cursor: pointer
				display: inline-block
				border: 1px solid rgba(0,0,0,0.25)
				color: rgba(0,0,0,0.25)
				padding: 2px 6px
				margin: 0 6px 10px 4px
				font-size: 16px
				span
					display: inline-block
					width: 12px
					height: 12px
					margin: 6px 0 0 4px
					background: url(../images/filters/delete.svg)
		h3
			text-align: left
			margin: 20px 0 10px
			font-size: 16px
			font-weight: bold
		.filter
			width: 250px
			text-align: left
			background: rgba(0,0,0,0.1)
			-webkit-border-radius: 6px
			-moz-border-radius: 6px
			border-radius: 6px
			margin-bottom: 20px
			h2
				padding: 20px
				font-size: 16px
				font-weight: bold
				cursor: pointer
			span
				display: inline-block
				float: right
				width: 17px
				height: 10px
				margin-top: 4px
				background: url(../images/filters/down.svg)
			.filter_content
				overflow: hidden
				height: 0
				max-height: 214px
				overflow-y: auto
				text-align: left
				.line
					width: 208px
					height: 1px
					background: rgba(196,196,196,0.5)
					margin: 0 auto 16px
				.option
					width: 208px
					margin: 0 auto
					padding-bottom: 16px
					.check
						display: inline-block
						vertical-align: top
						width: 16px
						height: 16px
						background: url(../images/filters/check.svg)
					p
						display: inline-block
						vertical-align: top
						margin: 3px 0 0 6px
				.active
					.check
						background: url(../images/filters/checked.svg)
				.color
					display: inline-block
					width: 45px
					height: 45px
					border: 5px solid #FFF
					margin: 0 10px 10px
					div
						width: 45px
						height: 45px


				//***  COLORS TESTING
				.red
					div
						background: red
				.orange
					div
						background: orange
				.purple
					div
						background: purple
				.yellow
					div
						background: yellow
				.blue
					div
						background: blue
				.brown
					div
						background: brown
				.green
					div
						background: green
				.black
					div
						background: black
				.white
					div
						background: white


		.filter.active
			span
				background: url(../images/filters/up.svg)
			.filter_content
				height: auto
		a
			display: block
			font-size: 16px
			text-align: left
			text-decoration: underline
			color: #707070
			margin-bottom: 20px

			
	.items
		display: inline-block
		vertical-align: top
		width: 1000px
		.header_items
			width: 100%
			height: 60px			
			p
				float: left
				color: rgba(0,0,0,0.25)
			select
				float: right
				font-size: 16px
				-webkit-border-radius: 6px
				-moz-border-radius: 6px
				border-radius: 6px
				border: 1px solid transparent
				background: #C4C4C4

		.related_content
			max-width: 1148px
			margin: 0 auto
			.related
				color: #000
				cursor: pointer
				display: inline-block
				vertical-align: top
				width: 320px
				height: 320px
				background: #FFF
				margin: 0 0 40px
				text-align: left
				img
					display: block
					width: 50%
					margin: -20px auto 16px
				h2
					font-size: 28px
					font-style: italic
					padding: 20px 20px 10px 20px
					color: rgba(0,0,0,0.9)
				p
					font-size: 28px
					padding-left: 20px
				h3
					padding-right: 20px
					text-align: right
					font-size: 22px
					color: #000
					span
						color: rgba(0,0,0,0.2)
						text-decoration: line-through
						margin-right: 10px
						font-weight: 200
				&:hover
					-webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.2)
					-moz-box-shadow:    0px 4px 15px 0px rgba(50, 50, 50, 0.2)
					box-shadow:         0px 4px 15px 0px rgba(50, 50, 50, 0.2)
					margin-top: -2px !important
			.related:nth-child(3n-1)
				margin: 0 14px 40px
	.pagination
		text-align: center
		padding: 10px 0 60px
		a
			vertical-align: bottom
			display: inline-block
			margin: 0
			color: #000
			span
				vertical-align: top
				display: inline-block
				width: 22px
				height: 15px
				margin: -2px 10px 0
			p
				display: inline-block
		.number
			width: 25px
			height: 18px
			padding-top: 7px
			&:hover
				color: #FFF
				background: url(../images/pagination/nav_active.svg)
		.active
			color: #FFF
			background: url(../images/pagination/nav_active.svg)
		.prev
			margin: 8px 20px 0 0
			span
				background: url(../images/pagination/nav_prev.svg)
		.next
			margin: 8px 0 0 20px
			span
				background: url(../images/pagination/nav_next.svg)

// *** MEDIAS SECTION

@media all and (max-width: 767px)
	.section
		.filters
			width: 100%
			margin-right: 0
			text-align: center
			ul
				width: 220px
				display: inline-block
				margin: 0 40px
			.filter
				margin: 0 auto 20px
				width: 100%
				-webkit-border-radius: 0
				-moz-border-radius: 0
				border-radius: 0
				.filter_content
					.line
						width: 90%
					.option
						margin: 0 0 0 20px
		.items
			width: 100%
			.header_items
				display: none
			.related_content
				.related
					width: 100%
					height: auto
					padding-bottom: 20px
				.related:nth-child(3n-1)
					margin: 0 0 40px
			.pagination
				.prev, .next
					margin: 8px 10px 0 0
					p
						display: none

@media all and (min-width: 768px) and (max-width:1079px)
	.section
		.items
			width: 460px
	

@media all and (min-width: 1080px) and (max-width:1279px)
	.section
		.items
			width: 760px
			.related_content
				.related:nth-child(3n-1)
					margin: 0 0 40px
				.related:nth-child(2n-0)
					margin: 0 0 40px 40px
				
	
