#vender
	margin-top: 65px
	text-align: center
	h1
		font-size: 64px
		font-weight: bold
		padding: 100px 0 20px
	.line
		width: 400px
		height: 1px
		margin: 0 auto 80px
		background: rgba(0,0,0,0.2)
	.ilustration
		display: block
		width: 459px
		height: 432px
		margin: 100px auto
		background: url(../images/vender/ilustration.svg) center no-repeat
		background-size: cover
	h2	
		font-size: 32px
		font-style: italic
		margin-bottom: 40px
		line-height: 40px
	p
		font-size: 16px
		max-width: 700px
		margin: 0 auto 20px
		line-height: 28px
	.vender_text
		overflow: hidden
		text-align: center
		*
			display: inline-block
			vertical-align: top
		.text
			width: 400px
			margin: 100px 20px 0
	.special
		width: 100%
		max-width: 100%
		padding: 40px 0
		background: #F9F9F9
		margin: 60px auto
	ul
		text-align: center
		margin: 80px 0
		li
			display: inline-block
			margin: 0 10px
	.check
		p
			display: inline-block
			vertical-align: top
		span
			display: inline-block
			vertical-align: top
			margin: 4px 4px 0 0
			width: 16px
			height: 16px
			background: url(../images/filters/check.svg)
			cursor: pointer
			&.active
				background: url(../images/filters/checked.svg)

	a
		color: #000
		font-weight: bold
		text-decoration: underline
	.button
		width: 400px
		background: #000
		color: #FFF
		font-size: 18px
		padding: 20px 0
		margin: 20px auto 100px
		-webkit-border-radius: 6px
		-moz-border-radius: 6px
		border-radius: 6px
		letter-spacing: 1px
		cursor: pointer

// *** MEDIAS SECTION

@media all and (max-width: 767px)
	#vender
		h1
			font-size: 32px
			padding: 50px 0 10px
		.line
			width: 80%
			margin: 0 auto 60px
		.ilustration
			width: 280px
			height: 264px
			margin: 26px auto
		p
			max-width: 90%
			padding: 0 20px
		h2
			font-size: 28px
			padding: 0 20px
		.text
			width: 100% !important
			margin-left: 0 !important
		.check
			text-align: left
		.button
			width: 280px
		ul
			width: 80%
			margin: 40px auto
			text-align: left
			li
				display: block
				margin-bottom: 10px

